<section class="accesories" id="Accessories">
  <div class="container">
    <h2 class="accesories__title">
      Looking for Accessories?
    </h2>

    <div class="accesories__slider slider">
      <div class="slider__card">
        <img class="slider__img" src="images/slider/1.jpg" alt="rev">
        <a class="slider__link" href="#">Rev Tube</a>
        <div class="slider__price">
          <p class="slider__old-price">$16.00</p>
          <p class="slider__new-price">$19.00</p>
        </div>
      </div>

      <div class="slider__card">
        <img class="slider__img" src="images/slider/2.jpg" alt="rev">
        <a class="slider__link" href="#">Boosted Rev Stem Catch</a>
        <div class="slider__price">
          <p class="slider__old-price">$19.00</p>
          <p class="slider__new-price">$29.00</p>
        </div>
      </div>

      <div class="slider__card">
        <img class="slider__img" src="images/slider/3.jpg" alt="rev">
        <a class="slider__link" href="#">Stomp Brake Fender</a>
        <div class="slider__price">
          <p class="slider__sold">Sold Out</p>
        </div>
      </div>

      <div class="slider__card">
        <img class="slider__img" src="images/slider/4.jpg" alt="rev">
        <a class="slider__link" href="#">Boosted Belt Kit</a>
        <div class="slider__price">
          <p class="slider__old-price">$25.00</p>
        </div>
      </div>

      <div class="slider__card">
        <img class="slider__img" src="images/slider/5.jpg" alt="rev">
        <a class="slider__link" href="#">Bearing Service Kit</a>
        <div class="slider__price">
          <p class="slider__old-price">$50.00</p>
        </div>
      </div>

      <div class="slider__card">
        <img class="slider__img" src="images/slider/6.jpg" alt="rev">
        <a class="slider__link" href="#">Boosted Pulley / Belt Upgrade Kit</a>
        <div class="slider__price">
          <p class="slider__old-price">$75.00</p>
        </div>
      </div>

      <div class="slider__card">
        <img class="slider__img" src="images/slider/7.jpg" alt="rev">
        <a class="slider__link" href="#">Boosted Skid Plates</a>
        <div class="slider__price">
          <p class="slider__old-price">$20.00</p>
        </div>
      </div>

      <div class="slider__card">
        <img class="slider__img" src="images/slider/3.jpg" alt="rev">
        <a class="slider__link" href="#">Rev Tube</a>
        <div class="slider__price">
          <p class="slider__old-price">$16.00</p>
          <p class="slider__new-price">$19.00</p>
        </div>
      </div>

    </div>

    <ul class="accesories__items">
      <li class="accesories__item accesories__item--fast">
        <h4 class="accesories__item-title">
          Go Fast
        </h4>
        <p class="accesories__text">
          Boosted is known for its premium performance boards offering a next-level experience.
        </p>
      </li>

      <li class="accesories__item accesories__item--far">
        <h4 class="accesories__item-title">
          Go Far
        </h4>
        <p class="accesories__text">
          With optional extended battery life, you can get wherever you need to go reliably.
        </p>
      </li>

      <li class="accesories__item accesories__item--safe">
        <h4 class="accesories__item-title">
          Go Safe
        </h4>
        <p class="accesories__text">
          Safety is a #1 priority for Boosted, always wear a helmet when riding.
        </p>
      </li>

      <li class="accesories__item accesories__item--last">
        <h4 class="accesories__item-title">
          Built to Last!
        </h4>
        <p class="accesories__text">
          Boosted products are engineered to last for years and are extremely reliable.
        </p>
      </li>
    </ul>
  </div>
</section>