<section class="boosted-rev">
  <div class="container">
    <div class="boosted-rev__wrapper">
      <img class="boosted-rev__img" src="images/boosted-rev/1.jpg" alt="images">
      <img class="boosted-rev__img" src="images/boosted-rev/2.jpg" alt="images">

      <div class="boosted-rev__content">
        <h3 class="boosted-rev__title">
          Boosted Rev
        </h3>

        <p class="boosted-rev__text">
          There's never been an electric scooter quite like this. Speed past traffic at 24 mph. Go up to 22 miles on
          a single charge. You'll get there in no time at all. Stop and go with the roll of your thumb. Its
          intuitive design means there’s almost no learning curve.
        </p>

        <a class="boosted-rev__link link-btn" href="#">
          Shop Now
        </a>
      </div>
    </div>

    <ul class="boosted-rev__list">
      <li class="boosted-rev__item" style="background-image: url('images/boosted-rev/3.jpg');">
        <a class="boosted-rev__item-link" href="#">
          Shop Boosted Stealth
          <span>IN STOCK</span>
        </a>
      </li>

      <li class="boosted-rev__item" style="background-image: url('images/boosted-rev/4.jpg');">
        <a class="boosted-rev__item-link" href="#">
          Shop Boosted Plus
          <span>IN STOCK</span>
        </a>
      </li>

      <li class="boosted-rev__item" style="background-image: url('images/boosted-rev/5.jpg');">
        <a class="boosted-rev__item-link" href="#">
          Shop Boosted Mini
          <span>IN STOCK</span>
        </a>
      </li>
    </ul>

    <div class="boosted-rev__video-box">
      <a class="boosted-rev__video-link" data-fancybox
        href="https://www.youtube.com/watch?v=C9PjSRgpEZ4&feature=youtu.be" id="boosted-rev__video-link">
        <img class="boosted-rev__video-img" src="images/video/1.jpg" alt="video boosted">
      </a>

      <a class="boosted-rev__video-link" data-fancybox
        href="https://www.youtube.com/watch?v=C9PjSRgpEZ4&feature=youtu.be">
        <img class="boosted-rev__video-img" src="images/video/2.jpg" alt="video boosted">
      </a>
    </div>
  </div>
</section>