<section class="electric-skateboards" id="electric-skateboards">
  <div class="electric-skateboards__container container">
    <h2 class="electric-skateboards__title">
      <span>High-performance</span>
      Electric Skateboards
    </h2>
    <p class="electric-skateboards__text">
      Cruising campus, going to work or getting through that long list of errands has never been easier or more fun.
    </p>
    <a class="electric-skateboards__link link-btn" href="#">
      Shop Now
    </a>
  </div>
</section>