<footer class="footer" id="footer">
  <div class="footer__container container">
    <a class="footer__logo logo" href="#header">
      <img class="logo__img" src="images/logo2.svg" alt="logo">
    </a>

    <ul class="footer__items">
      <li class="footer__item">
        <h4 class="footer__title">Explore</h4>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#electric-skateboards">
          Electric Skateboards
        </a>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#boosted-rev__video-link">
          Electric Scooters
        </a>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#Accessories">
          Accessories
        </a>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#">
          FAQs
        </a>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#">
          Warranty
        </a>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#">
          Quick Start Guide
        </a>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#">
          Contact
        </a>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#" id="gift-card">
          Gift Card
        </a>
      </li>

      <li class="footer__item">
        <a class="footer__link" href="#">
          Accessibility Statement
        </a>
      </li>
    </ul>

    <ul class="footer__items">
      <li class="footer__item">
        <h4 class="footer__title">
          About Boosted USA
        </h4>
      </li>

      <li class="footer__item">
        <p class="footer__text">
          Boosted empowers people everywhere to commute across their cities, campuses, and communities in ways that
          were never before possible. Boosted is solving one of the biggest problems people face each day:
          transportation.
        </p>
      </li>

      <li class="footer__item">
        <p class="footer__adress">
          CaliRides LLC - DBA Boosted USA <br>
          1281 Andersen Drive Ste. K <br>
          San Rafael, CA <br>
          94901
        </p>
      </li>
    </ul>
  </div>

  <div class="footer__bottom container">
    <p class="footer__bottom-text">
      © 2021 <span>Boosted USA</span> . All Rights Reserved.
      <span>Terms of Service</span> . Built by <span>BH</span>
    </p>
    <ul class="footer__bottom-items">
      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#" style="background-image: url('images/pay/amex.svg')"></a>
      </li>

      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#" style="background-image: url('images/pay/paypay.svg')"></a>
      </li>

      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#" style="background-image: url('images/pay/gpay.svg')"></a>
      </li>

      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#" style="background-image: url('images/pay/klarna.svg')"></a>
      </li>

      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#" style="background-image: url('images/pay/master.svg')"></a>
      </li>

      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#" style="background-image: url('images/pay/bpay.svg')"></a>
      </li>

      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#" style="background-image: url('images/pay/v.svg')"></a>
      </li>

      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#" style="background-image: url('images/pay/visa.svg')"></a>
      </li>
    </ul>
  </div>
</footer>