<section class="looking">
  <div class="container">
    <h2 class="looking__title">
      Looking for Boosted Boards, or Boosted Revs?
    </h2>

    <p class="looking__text">
      Boosted USA acquired all of the remaining inventory directly from Boosted. This means we have the electric
      skateboards and scooter you all love and have been looking for. Get your hands on these highly sought after
      products while supplies last.
    </p>

    <div class="looking__box">
      <ul class="looking__list">
        <li class="looking__item" style="background-image: url('images/looking-1.jpg');">
          <a class="looking__link" href="#">
            Shop Boosted Boards <span>In Stock</span>
          </a>
        </li>
      </ul>

      <ul class="looking__list">
        <li class="looking__item" style="background-image: url('images/looking-2.jpg');">
          <a class="looking__link" href="#">
            Shop Boosted Boards <span>In Stock</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>