<section class="sponsors">
  <div class="container">
    <h1 class="sr-only">
      our sponsors
    </h1>
    <ul class="sponsors__items">
      <li class="sponsors__item">
        <a class="sponsors__link" href="#">
          <img class="sponsors__img" src="images/sponsors/1.svg" alt="sponsors">
        </a>
      </li>

      <li class="sponsors__item">
        <a class="sponsors__link" href="#">
          <img class="sponsors__img" src="images/sponsors/2.svg" alt="sponsors">
        </a>
      </li>

      <li class="sponsors__item">
        <a class="sponsors__link" href="#">
          <img class="sponsors__img" src="images/sponsors/3.svg" alt="sponsors">
        </a>
      </li>

      <li class="sponsors__item">
        <a class="sponsors__link" href="#">
          <img class="sponsors__img" src="images/sponsors/4.svg" alt="sponsors">
        </a>
      </li>
    </ul>
  </div>
</section>