<section class="welcome">
  <div class="welcome__container container">
    <h1 class="welcome__title">
      Welcome to Boosted USA
    </h1>

    <p class="welcome__text">
      The Holy Grail of Electric Skateboards and One REVolutionary Scooter
    </p>

    <ul class="welcome__items">
      <li class="welcome__item">
        <a class="welcome__link link-btn" href="#">BOOSTED REVS</a>
      </li>

      <li class="welcome__item">
        <a class="welcome__link link-btn" href="#">BOOSTED BOARDS</a>
      </li>
    </ul>
  </div>
</section>